.form__button_invalid {
  box-sizing: border-box;
  width: 100%;
  min-height: 46px;
  background: transparent;
  border-radius: 2px;
  padding: 0;
  border: 1px solid #000;
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000;
  opacity: 0.2;
  margin-top: 15px;
}

@media (min-width: 1280px) {
  .form__button {
    font-size: 18px;
    line-height: 22px;
    min-height: 50px;
  }
}