.form__button {
  width: 100%;
  min-height: 46px;
  background: #000;
  border-radius: 2px;
  padding: 0;
  border: none;
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  /* Сори, я проверил размер шрифта на MOBILE EDIT FORM 14px по макету */
  line-height: 17px;
  text-align: center;
  color: #fff;
  margin-top: 15px;
  transition: 0.5s;
}

.form__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media (min-width: 1280px) {
  .form__button {
    font-size: 18px;
    line-height: 22px;
    min-height: 50px;
  }
}