.profile {
  display: grid;
  grid-template-columns: 1fr;
  font-family: 'Inter',
    'Arial',
    'sans-serif';
  font-style: normal;
  color: #fff;
  justify-items: center;
  align-items: center;
  max-width: 55rem;
}

@media (min-width: 768px) {
  .profile {
    grid-template-columns: max-content max-content 1fr;
    padding: 0;
  }
}