.header {
  box-sizing: border-box;
  min-height: 3.5rem;
  max-width: 55rem;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-left: 1.688rem;
}

@media (min-width: 768px) {
  .header {
    padding-left: 0;
  }
}