.add-button {
  border: 2px solid #FFF;
  box-sizing: border-box;
  padding: 0;
  border-radius: 2px;
  width: 100%;
  max-width: 17.625rem;
  min-height: 3.125rem;
  background-color: transparent;
  transition: 0.5s;
  background-image: url(../../images/button-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .add-button {
    width: 9.375rem;
    justify-self: end;
  }
}

.add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}