.footer {
  font-family: 'Inter',
    'Segoe UI',
    'Roboto',
    'Helvetica',
    'San Francisco',
    'sans-serif';
  color: #545454;
  max-width: 55rem;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer {}
}